@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}
img {
    border-radius: 5px;
}
.btn {
    background-color: #0093EF;
}
.btn-buy {
    color: #0093EF;
    background: none;
}
.btn-buy:hover {
    background-color: #0093EF;
}
.info-artist {
    margin-bottom: 25px;
    margin-top: 25px;
}
.topmargin {
    margin-top: 30px;
}
li span {
    position: relative; 
    left: 30px;
    color: black;
}
ol {
    color: #0093EF;
}
.navbar {
    background-color: #0093EF;
    height: 50px;
}
.header-text {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
li {
    margin-left: -15px;
    margin-bottom: 5px;
}

/*
===========
Mobile css
===========
*/

@media screen and (max-width: 576px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    p, li {
        font-size: 14px;
    }
    .topmargin {
        margin-top: 30px;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 35px;
    }
}




/*
===========
Desktop css
===========
*/

@media screen and (min-width: 576px) {
    h1 {
        font-size: 20px;
    }
    h2, p, li {
        font-size: 16px;
    }
    .topmargin {
        margin-top: 60px;
    }
    img {
        margin-bottom: 15px;
    }
    hr {
        display: none;
    }
    .row {
        flex-direction: column;
    }
}
